* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #ffc851;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.conteiner {
    height: 270px;
    width: 550px;
    border-radius: 8px;
    box-shadow: 15px 35px 20px rgba(0, 0, 0, 0.5),-10px -20px 20px rgba(0, 0, 0, 0.5);
    background-color: #1e272e;
    border: 1.3px solid #ddd;
}

.sidebar {
    width: 60px;
    height: 100%;
    background-color: #ff3f34;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    border-right: none;
    transition: width .75s ease;
}

.sidebar:hover {
    width: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1re,m;
}

li {
    padding: 10px 10px;
    border-bottom: 2px solid #ff6348;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

li:hover {
    background-color: #ff6348;
}

.nav-link {
    display: inline-flex;
    column-gap: 1rem;
    text-decoration: none;
    color: inherit;
}

.item-txt {
    padding-left: .5rem;
}

.atrtribute {
    position: absolute;
    bottom: 10px;
}

.typing {
    color: #4f5bc7;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #4f5bc7;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0; } to { width: 22ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}